junit*
out/
out_ide/
output
.classpath
.svn/
.idea/
.settings/
/.project
.gradle/
build_gradle/
build*
.DS_Store
tmp/
*.pyc
*.iml
*.ipr
*.iws
*.swp
*.mf
/bin
/.checkstyle
/.nb-gradle/profiles/private/
/nbproject/*